html {
    height: 100%;
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
    color: antiquewhite;
    font-family: "Jost";
    background: rgba(71, 71, 71, 0.9) url("./backgrounds/tftset10.avif") no-repeat center center fixed;
    background-size: cover;
}

/* Define custom font */
@font-face {
    font-family: "Jost";
    src: url(Jost-Italic-VariableFont_wght.ttf);
}

#main-container {
    display: flex;
    flex-direction: column;
    min-width: 600px; /* Set a minimum width for the main container */
    margin: 0 auto;
}

#header-text {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.comp-name {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 20px;
}

.comp-container {
    width: 50%;
    height: 40%;
    margin: 0 auto;
    background-color: rgba(68, 67, 67, 0.9); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
}

#main-container {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    background-color: rgba(37, 37, 37, 0.9); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 8px;
}

.champs-list.horizontal {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.champs-list.horizontal li {
    margin-right: 10px;
}
  
.champs-list.horizontal img {
    max-width: 100%;
    border-radius: 8px;
    height: auto;
}

.champion-container {
    text-align: center;
}
  
.champion-name {
    font-size: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stats-container.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
}
 
.stats-container div {
    font-size: 12px;
    margin-bottom: 5px;
}

#info-link {
    color: antiquewhite;
    margin-left: 275px;
    font-size: 20px;
}

#update-text {
    color: antiquewhite;
    margin: 0 auto;
    margin-left: 275px;
    font-size: 12px;
}

#popup-box {
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 37, 37, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.hidden {
    display: none;
}

#popup-info span {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}

#close-popup {
    border-radius: 8px;
    border: none;
    font-family: "Jost"; 
}

.more-info-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.more-info-btn {
    margin-bottom: 10px;
    font-family: "Jost";
    border: none;
    border-radius: 8px;
    width: 100px;
}

.carry-champs-text {
    text-align: center; /* Center the text horizontally */
    font-family: "Jost";
    font-size: 15px; /* Adjust the font size as needed */
}
